In [2]:
import requests
import pandas as pd
import time

In [3]:

# Define the base URL and API key
api_key = '8265bd1679663a7ea12ac168da84d2e8'
base_url = 'https://api.themoviedb.org/3/movie/top_rated'

# Fetch genre list
genre_url = f'https://api.themoviedb.org/3/genre/movie/list?api_key={api_key}&language=en-US'
genre_response = requests.get(genre_url)
genres_data = genre_response.json()
genres = {genre['id']: genre['name'] for genre in genres_data['genres']}

# Prepare an empty list to store movie data
all_movies = []

# Loop through all 471 pages
for page in range(1, 472):  # Pages from 1 to 471
    url = f'{base_url}?api_key={api_key}&language=en-US&page={page}'
    
    # Make the request to the API
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        data = response.json()
        movies = data.get('results', [])
        
        # Debug: Check how many movies were retrieved from this page
        print(f"Page {page}: Retrieved {len(movies)} movies.")
        
        # Extract relevant movie details
        for movie in movies:
            # Get the genre names from the genre IDs
            genre_names = [genres[genre_id] for genre_id in movie.get('genre_ids', [])]
            
            all_movies.append({
                'title': movie.get('title'),
                'overview': movie.get('overview'),
                'genres': ', '.join(genre_names)  # Join genres as a comma-separated string
            })
    else:
        print(f"Failed to retrieve data for page {page}: {response.status_code}")
    
    # Sleep for a short duration to avoid hitting rate limits
    time.sleep(0.5)

# Convert the list of dictionaries into a pandas DataFrame

Page 1: Retrieved 20 movies.
Page 2: Retrieved 20 movies.
Page 3: Retrieved 20 movies.
Page 4: Retrieved 20 movies.
Page 5: Retrieved 20 movies.
Page 6: Retrieved 20 movies.
Page 7: Retrieved 20 movies.
Page 8: Retrieved 20 movies.
Page 9: Retrieved 20 movies.
Page 10: Retrieved 20 movies.
Page 11: Retrieved 20 movies.
Page 12: Retrieved 20 movies.
Page 13: Retrieved 20 movies.
Page 14: Retrieved 20 movies.
Page 15: Retrieved 20 movies.
Page 16: Retrieved 20 movies.
Page 17: Retrieved 20 movies.
Page 18: Retrieved 20 movies.
Page 19: Retrieved 20 movies.
Page 20: Retrieved 20 movies.
Page 21: Retrieved 20 movies.
Page 22: Retrieved 20 movies.
Page 23: Retrieved 20 movies.
Page 24: Retrieved 20 movies.
Page 25: Retrieved 20 movies.
Page 26: Retrieved 20 movies.
Page 27: Retrieved 20 movies.
Page 28: Retrieved 20 movies.
Page 29: Retrieved 20 movies.
Page 30: Retrieved 20 movies.
Page 31: Retrieved 20 movies.
Page 32: Retrieved 20 movies.
Page 33: Retrieved 20 movies.
Page 34: Retrieved 20 movies.
Page 35: Retrieved 20 movies.
Page 36: Retrieved 20 movies.
Page 37: Retrieved 20 movies.
Page 38: Retrieved 20 movies.
Page 39: Retrieved 20 movies.
Page 40: Retrieved 20 movies.
Page 41: Retrieved 20 movies.
Page 42: Retrieved 20 movies.
Page 43: Retrieved 20 movies.
Page 44: Retrieved 20 movies.
Page 45: Retrieved 20 movies.
Page 46: Retrieved 20 movies.
Page 47: Retrieved 20 movies.
Page 48: Retrieved 20 movies.
Page 49: Retrieved 20 movies.
Page 50: Retrieved 20 movies.
Page 51: Retrieved 20 movies.
Page 52: Retrieved 20 movies.
Page 53: Retrieved 20 movies.
Page 54: Retrieved 20 movies.
Page 55: Retrieved 20 movies.
Page 56: Retrieved 20 movies.
Page 57: Retrieved 20 movies.
Page 58: Retrieved 20 movies.
Page 59: Retrieved 20 movies.
Page 60: Retrieved 20 movies.
Page 61: Retrieved 20 movies.
Page 62: Retrieved 20 movies.
Page 63: Retrieved 20 movies.
Page 64: Retrieved 20 movies.
Page 65: Retrieved 20 movies.
Page 66: Retrieved 20 movies.
Page 67: Retrieved 20 movies.
Page 68: Retrieved 20 movies.
Page 69: Retrieved 20 movies.
Page 70: Retrieved 20 movies.
Page 71: Retrieved 20 movies.
Page 72: Retrieved 20 movies.
Page 73: Retrieved 20 movies.
Page 74: Retrieved 20 movies.
Page 75: Retrieved 20 movies.
Page 76: Retrieved 20 movies.
Page 77: Retrieved 20 movies.
Page 78: Retrieved 20 movies.
Page 79: Retrieved 20 movies.
Page 80: Retrieved 20 movies.
Page 81: Retrieved 20 movies.
Page 82: Retrieved 20 movies.
Page 83: Retrieved 20 movies.
Page 84: Retrieved 20 movies.
Page 85: Retrieved 20 movies.
Page 86: Retrieved 20 movies.
Page 87: Retrieved 20 movies.
Page 88: Retrieved 20 movies.
Page 89: Retrieved 20 movies.
Page 90: Retrieved 20 movies.
Page 91: Retrieved 20 movies.
Page 92: Retrieved 20 movies.
Page 93: Retrieved 20 movies.
Page 94: Retrieved 20 movies.
Page 95: Retrieved 20 movies.
Page 96: Retrieved 20 movies.
Page 97: Retrieved 20 movies.
Page 98: Retrieved 20 movies.
Page 99: Retrieved 20 movies.
Page 100: Retrieved 20 movies.
Page 101: Retrieved 20 movies.
Page 102: Retrieved 20 movies.
Page 103: Retrieved 20 movies.
Page 104: Retrieved 20 movies.
Page 105: Retrieved 20 movies.
Page 106: Retrieved 20 movies.
Page 107: Retrieved 20 movies.
Page 108: Retrieved 20 movies.
Page 109: Retrieved 20 movies.
Page 110: Retrieved 20 movies.
Page 111: Retrieved 20 movies.
Page 112: Retrieved 20 movies.
Page 113: Retrieved 20 movies.
Page 114: Retrieved 20 movies.
Page 115: Retrieved 20 movies.
Page 116: Retrieved 20 movies.
Page 117: Retrieved 20 movies.
Page 118: Retrieved 20 movies.
Page 119: Retrieved 20 movies.
Page 120: Retrieved 20 movies.
Page 121: Retrieved 20 movies.
Page 122: Retrieved 20 movies.
Page 123: Retrieved 20 movies.
Page 124: Retrieved 20 movies.
Page 125: Retrieved 20 movies.
Page 126: Retrieved 20 movies.
Page 127: Retrieved 20 movies.
Page 128: Retrieved 20 movies.
Page 129: Retrieved 20 movies.
Page 130: Retrieved 20 movies.
Page 131: Retrieved 20 movies.
Page 132: Retrieved 20 movies.
Page 133: Retrieved 20 movies.
Page 134: Retrieved 20 movies.
Page 135: Retrieved 20 movies.
Page 136: Retrieved 20 movies.
Page 137: Retrieved 20 movies.
Page 138: Retrieved 20 movies.
Page 139: Retrieved 20 movies.
Page 140: Retrieved 20 movies.
Page 141: Retrieved 20 movies.
Page 142: Retrieved 20 movies.
Page 143: Retrieved 20 movies.
Page 144: Retrieved 20 movies.
Page 145: Retrieved 20 movies.
Page 146: Retrieved 20 movies.
Page 147: Retrieved 20 movies.
Page 148: Retrieved 20 movies.
Page 149: Retrieved 20 movies.
Page 150: Retrieved 20 movies.
Page 151: Retrieved 20 movies.
Page 152: Retrieved 20 movies.
Page 153: Retrieved 20 movies.
Page 154: Retrieved 20 movies.
Page 155: Retrieved 20 movies.
Page 156: Retrieved 20 movies.
Page 157: Retrieved 20 movies.
Page 158: Retrieved 20 movies.
Page 159: Retrieved 20 movies.
Page 160: Retrieved 20 movies.
Page 161: Retrieved 20 movies.
Page 162: Retrieved 20 movies.
Page 163: Retrieved 20 movies.
Page 164: Retrieved 20 movies.
Page 165: Retrieved 20 movies.
Page 166: Retrieved 20 movies.
Page 167: Retrieved 20 movies.
Page 168: Retrieved 20 movies.
Page 169: Retrieved 20 movies.
Page 170: Retrieved 20 movies.
Page 171: Retrieved 20 movies.
Page 172: Retrieved 20 movies.
Page 173: Retrieved 20 movies.
Page 174: Retrieved 20 movies.
Page 175: Retrieved 20 movies.
Page 176: Retrieved 20 movies.
Page 177: Retrieved 20 movies.
Page 178: Retrieved 20 movies.
Page 179: Retrieved 20 movies.
Page 180: Retrieved 20 movies.
Page 181: Retrieved 20 movies.
Page 182: Retrieved 20 movies.
Page 183: Retrieved 20 movies.
Page 184: Retrieved 20 movies.
Page 185: Retrieved 20 movies.
Page 186: Retrieved 20 movies.
Page 187: Retrieved 20 movies.
Page 188: Retrieved 20 movies.
Page 189: Retrieved 20 movies.
Page 190: Retrieved 20 movies.
Page 191: Retrieved 20 movies.
Page 192: Retrieved 20 movies.
Page 193: Retrieved 20 movies.
Page 194: Retrieved 20 movies.
Page 195: Retrieved 20 movies.
Page 196: Retrieved 20 movies.
Page 197: Retrieved 20 movies.
Page 198: Retrieved 20 movies.
Page 199: Retrieved 20 movies.
Page 200: Retrieved 20 movies.
Page 201: Retrieved 20 movies.
Page 202: Retrieved 20 movies.
Page 203: Retrieved 20 movies.
Page 204: Retrieved 20 movies.
Page 205: Retrieved 20 movies.
Page 206: Retrieved 20 movies.
Page 207: Retrieved 20 movies.
Page 208: Retrieved 20 movies.
Page 209: Retrieved 20 movies.
Page 210: Retrieved 20 movies.
Page 211: Retrieved 20 movies.
Page 212: Retrieved 20 movies.
Page 213: Retrieved 20 movies.
Page 214: Retrieved 20 movies.
Page 215: Retrieved 20 movies.
Page 216: Retrieved 20 movies.
Page 217: Retrieved 20 movies.
Page 218: Retrieved 20 movies.
Page 219: Retrieved 20 movies.
Page 220: Retrieved 20 movies.
Page 221: Retrieved 20 movies.
Page 222: Retrieved 20 movies.
Page 223: Retrieved 20 movies.
Page 224: Retrieved 20 movies.
Page 225: Retrieved 20 movies.
Page 226: Retrieved 20 movies.
Page 227: Retrieved 20 movies.
Page 228: Retrieved 20 movies.
Page 229: Retrieved 20 movies.
Page 230: Retrieved 20 movies.
Page 231: Retrieved 20 movies.
Page 232: Retrieved 20 movies.
Page 233: Retrieved 20 movies.
Page 234: Retrieved 20 movies.
Page 235: Retrieved 20 movies.
Page 236: Retrieved 20 movies.
Page 237: Retrieved 20 movies.
Page 238: Retrieved 20 movies.
Page 239: Retrieved 20 movies.
Page 240: Retrieved 20 movies.
Page 241: Retrieved 20 movies.
Page 242: Retrieved 20 movies.
Page 243: Retrieved 20 movies.
Page 244: Retrieved 20 movies.
Page 245: Retrieved 20 movies.
Page 246: Retrieved 20 movies.
Page 247: Retrieved 20 movies.
Page 248: Retrieved 20 movies.
Page 249: Retrieved 20 movies.
Page 250: Retrieved 20 movies.
Page 251: Retrieved 20 movies.
Page 252: Retrieved 20 movies.
Page 253: Retrieved 20 movies.
Page 254: Retrieved 20 movies.
Page 255: Retrieved 20 movies.
Page 256: Retrieved 20 movies.
Page 257: Retrieved 20 movies.
Page 258: Retrieved 20 movies.
Page 259: Retrieved 20 movies.
Page 260: Retrieved 20 movies.
Page 261: Retrieved 20 movies.
Page 262: Retrieved 20 movies.
Page 263: Retrieved 20 movies.
Page 264: Retrieved 20 movies.
Page 265: Retrieved 20 movies.
Page 266: Retrieved 20 movies.
Page 267: Retrieved 20 movies.
Page 268: Retrieved 20 movies.
Page 269: Retrieved 20 movies.
Page 270: Retrieved 20 movies.
Page 271: Retrieved 20 movies.
Page 272: Retrieved 20 movies.
Page 273: Retrieved 20 movies.
Page 274: Retrieved 20 movies.
Page 275: Retrieved 20 movies.
Page 276: Retrieved 20 movies.
Page 277: Retrieved 20 movies.
Page 278: Retrieved 20 movies.
Page 279: Retrieved 20 movies.
Page 280: Retrieved 20 movies.
Page 281: Retrieved 20 movies.
Page 282: Retrieved 20 movies.
Page 283: Retrieved 20 movies.
Page 284: Retrieved 20 movies.
Page 285: Retrieved 20 movies.
Page 286: Retrieved 20 movies.
Page 287: Retrieved 20 movies.
Page 288: Retrieved 20 movies.
Page 289: Retrieved 20 movies.
Page 290: Retrieved 20 movies.
Page 291: Retrieved 20 movies.
Page 292: Retrieved 20 movies.
Page 293: Retrieved 20 movies.
Page 294: Retrieved 20 movies.
Page 295: Retrieved 20 movies.
Page 296: Retrieved 20 movies.
Page 297: Retrieved 20 movies.
Page 298: Retrieved 20 movies.
Page 299: Retrieved 20 movies.
Page 300: Retrieved 20 movies.
Page 301: Retrieved 20 movies.
Page 302: Retrieved 20 movies.
Page 303: Retrieved 20 movies.
Page 304: Retrieved 20 movies.
Page 305: Retrieved 20 movies.
Page 306: Retrieved 20 movies.
Page 307: Retrieved 20 movies.
Page 308: Retrieved 20 movies.
Page 309: Retrieved 20 movies.
Page 310: Retrieved 20 movies.
Page 311: Retrieved 20 movies.
Page 312: Retrieved 20 movies.
Page 313: Retrieved 20 movies.
Page 314: Retrieved 20 movies.
Page 315: Retrieved 20 movies.
Page 316: Retrieved 20 movies.
Page 317: Retrieved 20 movies.
Page 318: Retrieved 20 movies.
Page 319: Retrieved 20 movies.
Page 320: Retrieved 20 movies.
Page 321: Retrieved 20 movies.
Page 322: Retrieved 20 movies.
Page 323: Retrieved 20 movies.
Page 324: Retrieved 20 movies.
Page 325: Retrieved 20 movies.
Page 326: Retrieved 20 movies.
Page 327: Retrieved 20 movies.
Page 328: Retrieved 20 movies.
Page 329: Retrieved 20 movies.
Page 330: Retrieved 20 movies.
Page 331: Retrieved 20 movies.
Page 332: Retrieved 20 movies.
Page 333: Retrieved 20 movies.
Page 334: Retrieved 20 movies.
Page 335: Retrieved 20 movies.
Page 336: Retrieved 20 movies.
Page 337: Retrieved 20 movies.
Page 338: Retrieved 20 movies.
Page 339: Retrieved 20 movies.
Page 340: Retrieved 20 movies.
Page 341: Retrieved 20 movies.
Page 342: Retrieved 20 movies.
Page 343: Retrieved 20 movies.
Page 344: Retrieved 20 movies.
Page 345: Retrieved 20 movies.
Page 346: Retrieved 20 movies.
Page 347: Retrieved 20 movies.
Page 348: Retrieved 20 movies.
Page 349: Retrieved 20 movies.
Page 350: Retrieved 20 movies.
Page 351: Retrieved 20 movies.
Page 352: Retrieved 20 movies.
Page 353: Retrieved 20 movies.
Page 354: Retrieved 20 movies.
Page 355: Retrieved 20 movies.
Page 356: Retrieved 20 movies.
Page 357: Retrieved 20 movies.
Page 358: Retrieved 20 movies.
Page 359: Retrieved 20 movies.
Page 360: Retrieved 20 movies.
Page 361: Retrieved 20 movies.
Page 362: Retrieved 20 movies.
Page 363: Retrieved 20 movies.
Page 364: Retrieved 20 movies.
Page 365: Retrieved 20 movies.
Page 366: Retrieved 20 movies.
Page 367: Retrieved 20 movies.
Page 368: Retrieved 20 movies.
Page 369: Retrieved 20 movies.
Page 370: Retrieved 20 movies.
Page 371: Retrieved 20 movies.
Page 372: Retrieved 20 movies.
Page 373: Retrieved 20 movies.
Page 374: Retrieved 20 movies.
Page 375: Retrieved 20 movies.
Page 376: Retrieved 20 movies.
Page 377: Retrieved 20 movies.
Page 378: Retrieved 20 movies.
Page 379: Retrieved 20 movies.
Page 380: Retrieved 20 movies.
Page 381: Retrieved 20 movies.
Page 382: Retrieved 20 movies.
Page 383: Retrieved 20 movies.
Page 384: Retrieved 20 movies.
Page 385: Retrieved 20 movies.
Page 386: Retrieved 20 movies.
Page 387: Retrieved 20 movies.
Page 388: Retrieved 20 movies.
Page 389: Retrieved 20 movies.
Page 390: Retrieved 20 movies.
Page 391: Retrieved 20 movies.
Page 392: Retrieved 20 movies.
Page 393: Retrieved 20 movies.
Page 394: Retrieved 20 movies.
Page 395: Retrieved 20 movies.
Page 396: Retrieved 20 movies.
Page 397: Retrieved 20 movies.
Page 398: Retrieved 20 movies.
Page 399: Retrieved 20 movies.
Page 400: Retrieved 20 movies.
Page 401: Retrieved 20 movies.
Page 402: Retrieved 20 movies.
Page 403: Retrieved 20 movies.
Page 404: Retrieved 20 movies.
Page 405: Retrieved 20 movies.
Page 406: Retrieved 20 movies.
Page 407: Retrieved 20 movies.
Page 408: Retrieved 20 movies.
Page 409: Retrieved 20 movies.
Page 410: Retrieved 20 movies.
Page 411: Retrieved 20 movies.
Page 412: Retrieved 20 movies.
Page 413: Retrieved 20 movies.
Page 414: Retrieved 20 movies.
Page 415: Retrieved 20 movies.
Page 416: Retrieved 20 movies.
Page 417: Retrieved 20 movies.
Page 418: Retrieved 20 movies.
Page 419: Retrieved 20 movies.
Page 420: Retrieved 20 movies.
Page 421: Retrieved 20 movies.
Page 422: Retrieved 20 movies.
Page 423: Retrieved 20 movies.
Page 424: Retrieved 20 movies.
Page 425: Retrieved 20 movies.
Page 426: Retrieved 20 movies.
Page 427: Retrieved 20 movies.
Page 428: Retrieved 20 movies.
Page 429: Retrieved 20 movies.
Page 430: Retrieved 20 movies.
Page 431: Retrieved 20 movies.
Page 432: Retrieved 20 movies.
Page 433: Retrieved 20 movies.
Page 434: Retrieved 20 movies.
Page 435: Retrieved 20 movies.
Page 436: Retrieved 20 movies.
Page 437: Retrieved 20 movies.
Page 438: Retrieved 20 movies.
Page 439: Retrieved 20 movies.
Page 440: Retrieved 20 movies.
Page 441: Retrieved 20 movies.
Page 442: Retrieved 20 movies.
Page 443: Retrieved 20 movies.
Page 444: Retrieved 20 movies.
Page 445: Retrieved 20 movies.
Page 446: Retrieved 20 movies.
Page 447: Retrieved 20 movies.
Page 448: Retrieved 20 movies.
Page 449: Retrieved 20 movies.
Page 450: Retrieved 20 movies.
Page 451: Retrieved 20 movies.
Page 452: Retrieved 20 movies.
Page 453: Retrieved 20 movies.
Page 454: Retrieved 20 movies.
Page 455: Retrieved 20 movies.
Page 456: Retrieved 20 movies.
Page 457: Retrieved 20 movies.
Page 458: Retrieved 20 movies.
Page 459: Retrieved 20 movies.
Page 460: Retrieved 20 movies.
Page 461: Retrieved 20 movies.
Page 462: Retrieved 20 movies.
Page 463: Retrieved 20 movies.
Page 464: Retrieved 20 movies.
Page 465: Retrieved 20 movies.
Page 466: Retrieved 20 movies.
Page 467: Retrieved 20 movies.
Page 468: Retrieved 20 movies.
Page 469: Retrieved 20 movies.
Page 470: Retrieved 20 movies.
Page 471: Retrieved 20 movies.

In [5]:
df = pd.DataFrame(all_movies)

df.to_csv('top_rated_movies_full.csv', index=False)
# print(f"Total number of movies retrieved: {len(df)}")

In [6]:
df = pd.read_csv('top_rated_movies_full.csv')

In [7]:
df

,title,overview,genres
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Wild Robot,"After a shipwreck, an intelligent robot called...","Animation, Science Fiction, Family"
3,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime"
4,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War"
...,...,...,...
9415,Open Windows,Nick is excited to discover he's won a dinner ...,"Thriller, Action, Crime"
9416,Vampire in Brooklyn,Detective Rita Veder is assigned to a baffling...,"Comedy, Horror, Romance"
9417,Bushwick,When an unknown military force invades Bushwic...,"Thriller, Action"
9418,A Wrinkle in Time,After the disappearance of her scientist fathe...,"Adventure, Science Fiction, Family, Fantasy"
9419,Winnie the Pooh: Blood and Honey,Christopher Robin is headed off to college and...,"Horror, Thriller"

In [8]:
df['overview'][45].lower()

'under the direction of a ruthless instructor, a talented young drummer begins to pursue perfection at any cost, even his humanity.'

In [9]:
df['title'] = df['title'].str.lower()

In [10]:
df['overview'] = df['overview'].str.lower()

In [11]:
df['genres'] = df['genres'].str.lower()

In [12]:
df.dropna(inplace=True)

In [13]:
df['overview'].isnull().sum()

0

In [14]:
df['overview'][4]

'the true story of how businessman oskar schindler saved over a thousand jewish lives from the nazis while they worked as slaves in his factory during world war ii.'

# remove htmls

In [15]:
import re
def remove_html(text):
    sentence = re.compile('<.*?>')
    return sentence.sub(r'',text)

In [16]:
text = "<html><body><p> Movie 1</p><p> Actor - Aamir Khan</p><p> Click here to <a href='http://google.com'>download</a></p></body></html>"

In [17]:
remove_html(text)

' Movie 1 Actor - Aamir Khan Click here to download'

In [18]:
df['overview'] = df['overview'].apply(remove_html)

In [19]:
len(df['overview'])

9419

# remove URL

In [20]:
def remove_url(text):
    sentence = re.compile(r'https?://\S+|www\.\S+')
    return sentence.sub(r'',text)

In [21]:
remove_url(text)

"<html><body><p> Movie 1</p><p> Actor - Aamir Khan</p><p> Click here to <a href='"

In [22]:
df['overview'] = df['overview'].apply(remove_url)

# remove punctuation

In [23]:
import string ,time
exclude = string.punctuation

In [24]:
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [25]:
def remove_punct(text):
    for char in exclude:
        text = text.replace(char , '')
    return text

In [26]:
remove_punct(text)

'htmlbodyp Movie 1pp Actor  Aamir Khanpp Click here to a hrefhttpgooglecomdownloadapbodyhtml'

In [27]:
df['overview'] = df['overview'].apply(remove_punct)

In [28]:
start = time.time()
remove_punct(text)
time1 = time.time() - start
print(time1*9419)

0.42218494415283203

In [29]:
def reduce_time(text):
    return text.translate(str.make_trans('','',exclude))

In [30]:
start = time.time()
remove_punct(text)
time1 = time.time() - start
print(time1*9419)

0.3795173168182373

In [31]:
from textblob import TextBlob

In [32]:
incorrect_text = 'ceertain conditionas duriing seveal ggenerations aree moodified in the saame maner.'
textblb = TextBlob(incorrect_text)
textblb.correct().string

'certain conditions during several generations are modified in the same manner.'

In [33]:
from nltk.corpus import stopwords

In [34]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [35]:
def remove_words(text):
    new_text = []
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [36]:
remove_words('the defense and the prosecution have rested and the jury is filing into the jury room to decide if a young spanishamerican is guilty or innocent of murdering his father what begins as an open and shut case soon becomes a minidrama of each of the jurors prejudices and preconceptions about the trial the accused and each other')

' defense   prosecution  rested   jury  filing   jury room  decide   young spanishamerican  guilty  innocent  murdering  father  begins   open  shut case soon becomes  minidrama     jurors prejudices  preconceptions   trial  accused   '

In [37]:
df['overview'] = df['overview'].apply(remove_words)

In [38]:
df.head()

,title,overview,genres
0,the shawshank redemption,imprisoned 1940s double murder wife lo...,"drama, crime"
1,the godfather,spanning years 1945 1955 chronicle fictio...,"drama, crime"
2,the wild robot,shipwreck intelligent robot called roz str...,"animation, science fiction, family"
3,the godfather part ii,continuing saga corleone crime family you...,"drama, crime"
4,schindler's list,true story businessman oskar schindler save...,"drama, history, war"

In [39]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [40]:
remove_emoji('hey this is so lovely,❤️❤️❤️💛💛 i loved it ')

'hey this is so lovely, i loved it '

# Splitting the sentences

# using the spliting function

In [41]:
sent1 = 'i am going to delhi!'
sent1.split()

['i', 'am', 'going', 'to', 'delhi!']

In [42]:
sent2 = 'i am going to delhi. i will return after two days till then you wait for us to go alwar.after that we\'ll go kahirthal together.'

sent2.split('.')

['i am going to delhi',
 ' i will return after two days till then you wait for us to go alwar',
 "after that we'll go kahirthal together",
 '']

In [43]:
sent3 = 'what i have to do in this situation?.we should either go home or take some action, tell us '
sent3.split('?')

['what i have to do in this situation',
 '.we should either go home or take some action, tell us ']

# Regular Expression

In [44]:
import re 
sent1 = 'i am going to delhi'
token = re.findall("[\w']+" , sent1)
token

['i', 'am', 'going', 'to', 'delhi']

In [45]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry? 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sentence = re.compile('[.!?]').split(text)
sentence

['Lorem Ipsum is simply dummy text of the printing and typesetting industry',
 " \nLorem Ipsum has been the industry's standard dummy text ever since the 1500s, \nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book",
 '']

In [46]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [47]:
sent1 = 'I am going to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [48]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry? 
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, \nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [49]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're here to help! mail us at nks@gmail.com"
sent7 = 'A 5km ride cost $10.50'
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [50]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nks',
 '@',
 'gmail.com']

In [51]:
# import spacy

# # Load the English model
# nlp = spacy.load('en_core_web_sm')

# # Example usage
# doc = nlp("I am going to visit Delhi!")
# for token in doc:
#     print(token.text, token.pos_)

In [52]:
from nltk.stem.porter import PorterStemmer

In [53]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [54]:
sample = "do did doing done"
stem_words(sample)

'do did do done'

In [55]:
text = 'probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie'
print(text)

probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie

In [56]:
stem_words(text)

'probabl my alltim favorit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen it some 15 or more time in the last 25 year paul luka perform bring tear to my eye and bett davi in one of her veri few truli sympathet role is a delight the kid are as grandma say more like dressedup midget than children but that onli make them more fun to watch and the mother slow awaken to what happen in the world and under her own roof is believ and startl if i had a dozen thumb theyd all be up for thi movi'

In [57]:
import nltk
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "probabl my alltim favorit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen it some 15 or more time in the last 25 year paul luka perform bring tear to my eye and bett davi in one of her veri few truli sympathet role is."
punctuations="?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)

sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
probabl             probabl
my                  my
alltim              alltim
favorit             favorit
movi                movi
a                   a
stori               stori
of                  of
selfless            selfless
sacrific            sacrific
and                 and
dedic               dedic
to                  to
a                   a
nobl                nobl
caus                caus
but                 but
it                  it
not                 not
preachi             preachi
or                  or
bore                bore
it                  it
just                just
never               never
get                 get
old                 old
despit              despit
my                  my
have                have
seen                see
it                  it
some                some
15                  15
or                  or
more                more
time                time
in                  in
the                 the
last                last
25                  25
year                year
paul                paul
luka                luka
perform             perform
bring               bring
tear                tear
to                  to
my                  my
eye                 eye
and                 and
bett                bett
davi                davi
in                  in
one                 one
of                  of
her                 her
veri                veri
few                 few
truli               truli
sympathet           sympathet
role                role
is                  be